{% extends "base-course.html" %}

{% block content %}

<div class="subtitle"> Homework {{i}} </div>

{% for p in problems %}

<form method="POST"  action="/{{p.coursename}}/{{p.year}}/{{p.term}}/uploader2?assignment={{p.assignment}}&problem={{p.problem}}">
<div class="columns, has-background-grey-lighter">
    <div class="column">
        <div class="box">
            <div> Problem {{p.problem}}: {{p.description}} </div>
            <div> Hints: {{p.hints}} </div>
        </div>
    </div>
 
    <div class="column">
        <div> {{p.references['videos']}} <div>
        <div> {{p.references['text']}} </div>
    </div>
        
    {% if p.has_submitted(current_user) %}
    
    <div class="column">
        <div class="box, has-background-success">
            <a href=/{{p.get_submission(current_user).url()}}> you submitted: {{p.get_submission(current_user).submission_number}} </a>
        </div>
    </div>
    {% else: %}
    upload_file{{p.problem}}
    <div class="column, has-background-warning">
        <div class="control">
            <input class="button, has-background-warning" name="upload_file{{p.problem}}" id="file" type="file">
            <input class="button, has-background-warning" type="submit" name="submit_button" value="submit"> </input>
        </div>
        
        
        

     </div>
        {% endif %}

</form>

{% endfor %}

{% endblock %}
