{% extends "base-course-left.html" %}

{% block content %}

<div class="subtitle"> Homework Assignments </div>

<div class="content">
<ol type="1">
{% for i in a_ind %}
<li> <a href="/{{course.coursename}}/{{course.year}}/{{course.term}}/hw/{{i}}/{{'p'}}"> Homework {{i}} </a> (Due: {{a[i]['due_date']}}) </li>

{% endfor %}
</ol>
</div>

<div class="subtitle"> Course Statistics </div>

<table class="table">
    <tr>
    <th>assignment</th>
    <th>problem</th>
    <th>subs</th>
    <th>not subbed</th>
    <th>waiting</th>
    <th>matches</th>
    <th>completed</th>
    <th>match time</th>
    <th>rev time </th>
    <th>mean</th>
    <th>median</th>
    <th>std</th>
    </tr>
    {% for problem in good_probs %}
    <tr>
        <td> ({{problem.assignment}},{{problem.problem}}) </td>
        <td>  {{problem.num_submitted()}} </td>
        <td>  {{problem.num_available()}} </td>
        <td>  {{problem.num_waiting()}} </td>
        <td>  {{problem.num_matched()}} </td>
        <td>  {{problem.num_completed()}} </td>
        <td>  {{clean_dec( problem.mean_match_time() )}} </td>
        <td>  {{clean_dec( problem.mean_review_time() ) }} </td>
        <td>  {{clean_dec( problem.mean_score())}} </td>
        <td>  {{clean_dec( problem.median_score())}} </td>
        <td>  {{clean_dec( problem.std() )}} </td>
    </tr>
    
    {% endfor %}
    </table>

{% endblock %}
