{% extends "base-course.html" %}

{% block content %}

{{course.get_assignments()}}
<div class="content">
<ol type="1">
{% for a in course.get_assignments() %}
<li> <a href="/{{course.coursename}}/{{course.year}}/{{course.term}}/hw{{a['number']}}"> Homework Assignment {{a['number']}} </a> (Due: {{a['due_date']}}) </li>

{% endfor %}
</ol>
</div>

<div class="subtitle"> Course Statistics </div>

<table class="table">
    <tr>
    <th>(assignment,problem)</th>
    <th>subs</th>
    <th>not subbed</th>
    <th>waiting</th>
    <th>matches</th>
    <th>completed</th>
    <th>match time</th>
    <th>rev time </th>
    <th>mean</th>
    <th>median</th>
    <th>std</th>
    </tr>
    {{course.get_problems()}}
    {% for problem in course.get_problems() %}
    <tr>
        <td> ({{problem.assignment}},{{problem.problem}}) </td>
        <td>  {{problem.num_submitted()}} </td>
        <td>  {{problem.num_available()}} </td>
        <td>  {{problem.num_waiting()}} </td>
        <td>  {{problem.num_matched()}} </td>
        <td>  {{problem.num_completed()}} </td>
        <td>  {{clean_dec( problem.mean_match_time() )}} </td>
        <td>  {{clean_dec( problem.mean_review_time() ) }} </td>
        <td>  {{clean_dec( problem.mean_score())}} </td>
        <td>  {{clean_dec( problem.median_score())}} </td>
        <td>  {{clean_dec( problem.std() )}} </td>
    </tr>
    
    {% endfor %}
    </table>

{% endblock %}
