{% extends "base.html" %}


{% block content %}

<form method="POST" action="/{{p.coursename}}/{{p.year}}/{{p.term}}/a{{p.assignment}}/p{{p.problem}}">
    
<div class="columns">
    <div class="column">
        <h1 class="title">
        Submission {{s.submission_number}}
        </h1>
        </div>
    
    
    <div class="column">
        <div class="control">
        
         <input class="button" type="submit" name="submit_button" value="submit"></input>
         </div>
        <div class="control">
         <input class="button is-danger is-outlined" type="submit" name="submit_button" value="return to sender"> </input>
         </div>
        </div>
    </div>
 


<div align="left">
      <div> Assignment: {{s.assignment}} </div>
      <div> Problem: {{s.problem}} </div>
      </div>

<div align="left">
    
    {% if s.is_late(current_user): %}
    
    <div class="has-background-danger-light"> Days Since Match (LATE) : {{s.days_since_matched()}} </div>

    {% else: %}

    <div> Days Since Match: {{s.days_since_matched()}} </div>

    {% endif %}
    
</div>





<div class="control">
  <input class="input" type="number" min="0" max="10" placeholder="score" id="score" name="score">
</div>

<textarea class="textarea" placeholder="Review" name="review"></textarea>


<div class="control">
  <input type="checkbox" name="conduct">
      certify code of conduct
   </input>
<div class="control">

</form>




{% endblock %}



